/* Footer.css */
.footer {
    background-color: var(--primary-color); /* Azul Escuro */
    color: var(--white-color);
    padding: 40px 20px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .footer-nav, .footer-info, .footer-social {
    flex: 1;
    min-width: 200px;
  }
  
  .footer-nav ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-nav ul li {
    margin: 10px 0;
  }
  
  .footer-nav ul li a {
    color: var(--white-color);
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-nav ul li a:hover {
    color: var(--accent-color); /* Laranja */
  }
  
  .footer-info p, .footer-info a {
    margin: 5px 0;
    color: var(--white-color);
    text-decoration: none;
  }
  
  .footer-info a {
    color: var(--accent-color); /* Laranja */
  }
  
  .footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
  }
  
  .social-icons a {
    color: var(--white-color);
    font-size: 2rem;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: var(--accent-color); /* Laranja */
  }
  
  .footer-bottom {
    margin-top: 20px;
  }
  
  .footer-bottom p {
    font-size: 0.875rem;
    color: var(--white-color);
  }
  