
:root {
  --primary-color: #002a5d; /* Azul Escuro mais neutro e moderno */
  --secondary-color: #4a90e2; /* Azul Claro ajustado para um tom mais profissional */
  --complementary-color: #f5f5f5; /* Cinza Claro ajustado para ser um pouco mais neutro */
  --accent-color: #ff6f00; /* Laranja mais suave e moderno */
  --white-color: #ffffff; /* Branco */
  
  /* Gradiente linear usando --primary-color */
  --primary-color-gradient: linear-gradient(
    to right, 
    var(--primary-color), 
    rgba(0, 51, 102, 0.8)
  );
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif; /* Fonte para o Texto */
}

h1, h2, h3, h4, h5, h6, button {
  font-family: 'Montserrat', sans-serif; /* Fonte para Títulos e Botões */
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}